* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    /* Blue */
    background-color: #5995DA;
    padding: 20px 0;
}

.menu {
    /* For debugging */
    border: 1px solid #fff;
    width: 900px;
}